<h1>Howdy!</h1>

<p>
  You played rock.
</p>

<h2>

<% moves = ["rock","paper","scissors"] %>
<% computer_move = moves.sample %>

<p>
  The computer played <%= computer_move %>.
</p>

<%if computer move == "rock" %>
<h3>You tied!</h3>
<%end %>
